@import url('https://fonts.googleapis.com/css?family=Passion+One');

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-size: 24px;
  font-family: 'Passion One';
  color: #e8e9eb;
  background-color: #313638;
}

canvas {
  margin: 0;
  display: flex;
  align-self: center;
}

.header {
  text-shadow: 2px 2px 0px #222;
  background: linear-gradient(#ec796e, #ea896f);
  text-align: center;
}

.parallax {
  padding: 0;
  background-image: url("../img/pacific-crest.png");
  height: 100%;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin: 0;
  padding-top: 10px;
  background-color: #313638;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100vw;
}

.forground {
  transform: translateY(10px);
  width: 100%;
}

#clock {
  font-size: 64px;
}
