body  {
  background-color: #e8e9eb;
  color: #e8e9eb;
}

.parallax {
  background-image: url("../img/pacific-crest.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
display: flex;
}

.placeholder-rect {
  margin-top: 500px;
  /*height: 5000px;*/
  width: 100vw;
  background-color: #313638;
}
